body {
    margin: 0;
    padding: 0;
}

#payment_header {
    background-color: rgb(235, 235, 235);
    width: 100%;
    border-bottom: 1px solid rgb(158, 154, 154);
    
    padding-top: 10px;
    padding-bottom: 9px;
}

h3 {
     margin-left: 10px;
     
}

#first-row {
    display: flex;
    justify-content: space-evenly;
}
#payment_form {
    border: 2px solid rgb(158, 154, 154);
    border-radius: 5px;
    
}

#redborder-round  {
   
    margin-left: 20px;
    margin-right: 20px;
    opacity: 60%;
    margin-bottom: 5px;
    border-radius: 5px;
    
}

#redtext {
    color: rgb(82, 0, 0);
}

#first-row, #inline-form, #inline-textarea {
    margin-right: 20px;
    margin-left: 20px;
}

#inline-textarea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

#payment_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    width: 100%;
    max-width: 600px;
    margin: 80px auto;
    gap: 10px;
}

#payment_header {
    align-self: flex-start;
}

#inline-form, #inline-textarea {
    align-self: stretch;
}

#inline-textarea .mb-3 {
    flex: 1;
}

#inline-textarea textarea {
    width: 100%;
}

#gray-input {
    background-color: rgb(228, 227, 227);
    border-radius: 2px;
    padding-left: 10px;
}

#bottom-button {
    display: flex;
    justify-content: end;


    padding: 10px 5px 10px 5px;
    width: 100%;
    background-color: rgb(235, 235, 235);
    border-top: 1px solid rgb(158, 154, 154);
}

#margin-right  {
    margin-right: 5px;
}