body {
    margin: 0;
    padding: 0;

    
    
}



#inline-textarea {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#payment_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    
    width: 100%;
    max-width: 600px;
    margin: 80px auto;
    
}

#payment_header {
    align-self: flex-start;
}

#inline-form, #inline-textarea {
    align-self: stretch;
}